
                <div class="carousel-cell">
                    <div class="o-wrap">
                        <div class="o-cols o-cols--3">
                            <div class="o-cols__item">
                                <div class="o-box">
                                    <figure class="author">
                                        <img src=<%= require("./img/community/01.jpg") %> alt="" width="56" height="56">
                                        <span class="o-lead o-lead--5">Włodzimierz Siereniewicz</span>
                                    </figure>
                                    
                                    <div class="review">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor.</p>
                                    </div>
                                </div>
                                
                                <div class="o-box">
                                    <figure class="author">
                                        <img src=<%= require("./img/community/03.jpg") %> alt="" width="56" height="56">
                                        <span class="o-lead o-lead--5">Mariola Bardowska</span>
                                    </figure>
                                    
                                    <div class="review">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor</p>
                                    </div>
                                </div>                    
                            </div>
                            
                            <div class="o-cols__item">
                                <div class="o-box">
                                    <figure class="author">
                                        <img src=<%= require("./img/community/04.jpg") %> alt="" width="56" height="56">
                                        <span class="o-lead o-lead--5">Piotr Krzekotowski</span>
                                    </figure>
                                    
                                    <div class="review">
                                        <p>Dzięki jednemu ze wpisów na blogu, dowiedziałem się jak przygotować swoje pierwsze szkolenie. Wiedza o tym, jak je poprowadzić całkowicie zdjęła ze mnie presję – w rezultacie wyszło super.</p>
                                    </div>
                                </div>
                                
                                <div class="o-box">
                                    <figure class="author">
                                        <img src=<%= require("./img/community/02.jpg") %> alt="" width="56" height="56">
                                        <span class="o-lead o-lead--5">Judyta kwasiora</span>
                                    </figure>
                                    
                                    <div class="review">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
                                    </div>
                                </div>                    
                            </div>
                            
                            <div class="o-cols__item">
                                <div class="o-box">
                                    <figure class="author">
                                        <img src=<%= require("./img/community/05.jpg") %> alt="" width="56" height="56">
                                        <span class="o-lead o-lead--5">JUSTYNA MOĆKO-KANTORSKA</span>
                                    </figure>
                                    
                                    <div class="review">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor.</p>
                                    </div>
                                </div>
                                
                                <div class="o-box">
                                    <figure class="author">
                                        <img src=<%= require("./img/community/06.jpg") %> alt="" width="56" height="56">
                                        <span class="o-lead o-lead--5">Przemek Krzekotowski</span>
                                    </figure>
                                    
                                    <div class="review">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.</p>
                                    </div>
                                </div>                    
                            </div>
                        </div>
                    </div>
                </div>
