
        <div class="c-clients">
            <div class="o-section">
                <div class="o-wrap">
                    <div class="o-header bottom--112 aligncenter">                    
                        <h5 class="o-lead o-lead--6">Kogo szkoliłem?</h5>
                        <h3 class="o-lead o-lead--2">Wybrani klienci</h3>          
                    </div>
        
                       
                    <ul class="c-clients__list">
                        <li>
                            <img src=<%= require("./img/clients/credit-agricole.svg") %> alt="credit-agricole">
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/clients/orange.svg") %> alt="orange">
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/clients/santander.svg") %> alt="santander">
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/clients/play.svg") %> alt="play">
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/clients/ing.svg") %> alt="ing">
                        </li>
                        
                        <li>
                            <img src=<%= require("./img/clients/kompania.svg") %> alt="kompania">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

